:root{
    --primary-color: white;
    --secondary-color: black;
}

.dark-theme{
    --primary-color: black;
    --secondary-color: white;
}



body{
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: all ease 1s;
}

#icon{
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 175px;
    left: 57.5%;
    
}

.profile-card{
    text-align: center;
    padding: 60px;
    background-color: #f2dada;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.profile-info img{
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info p{
    margin: 5px 0;
    font-size: 18px;
}

.social-links a{
    display: inline-block;
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover{
    color: #0077b5;
}

@media screen and (max-width: 768px) {
    #icon{
        width: 30px;
        cursor: pointer;
        position: absolute;
        top: 168px;
        left: 80%;
        
    }

    .profile-card{
        text-align: center;
        padding: 60px;
        background-color: #f2dada;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    }
    .profile-info img{
        max-width: 185px;
    }
    .profile-info h2{
        font-size: 24px;
    }
    .profile-info p{
        font-size: 17px;
    }
    .social-links {
        margin-top: 15px;
    }
    .social-links a{
        font-size: 25px;
    }
}